<link rel="stylesheet" href="/CSS/footer.css">

<div class="footer">
    <div class="footer-top">
        <div class="quick-links">
            <h3>Quick Links</h3>
            <a href="/home">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="contact-info">
            <h3>Contact Us</h3>
            <p>Email: <a href="mailto:kingof07kings@gmail.com">kingof07kings@gmail.com</a></p>
            <p>Phone: +91 86970 52***</p>
        </div>
        <div class="newsletter">
            <h3>Connect!</h3>
            <form action="#">
                <input type="email" name="email" placeholder="Enter your email" required>
                <button class="btn btn-sm" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="footer-links">
            <a href="https://www.linkedin.com/in/pratyushprasadcse/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/PratyushPrasad-8" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:kingof07kings@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </div>
        <p>&#169; Destiny Private Limited. <a href="/privacy-policy" class="privacy-link">Privacy Terms</a></p>
        <button class="back-to-top btn btn-sm" onclick="scrollToTop()">Back to Top</button>
    </div>
</div>

<script>
    // Scroll to Top Functionality
    function scrollToTop() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
    }
</script>

