<% layout("Layouts/boilerplate") -%>
<link rel="stylesheet" href="/CSS/pageNotFound.css">

<body>
    <div class="img-not-found">
        <img src="https://cdn.dribbble.com/users/4047034/screenshots/9176275/media/b40e0d6c115634a62ec51c9b68a16f3f.gif" alt="Page not found">
    </div>
</body>