<% layout("Layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="/CSS/home.css">

<body>
    <div class="home-img">
        <img src="https://user-images.githubusercontent.com/74038190/213911110-aedbef38-a29f-4b6b-a65c-11608b4f75a5.gif">
        <div>
            <h2>Made by Pratyush</h2>
        </div>
    </div>
</body>