<% layout("Layouts/boilerplate") -%>
<link rel="stylesheet" href="/CSS/pageNotFound.css">

<body>
    <div class="img-not-found">
        <img src="https://private-user-images.githubusercontent.com/74038190/243328563-d0cfe7d1-0b8c-4e4a-9a66-875290ba6065.gif?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzM3MjcwMzEsIm5iZiI6MTczMzcyNjczMSwicGF0aCI6Ii83NDAzODE5MC8yNDMzMjg1NjMtZDBjZmU3ZDEtMGI4Yy00ZTRhLTlhNjYtODc1MjkwYmE2MDY1LmdpZj9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNDEyMDklMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjQxMjA5VDA2NDUzMVomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTdkNTY5Y2ExYWMwMDUxMWNhYjlmNjZlZjI2OWRmZjBlMWNiMWZlMDBjMDRmNmY4ZDAwMmNiNGUxYTBmZDI2NDUmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.6sSrf50bu7LypTtG0zaoRT7hAdPa6tzFgqxGh_-Ht6g" alt="Page not found">
    </div>
</body>